/*=============== btn chính ===============*/
.btn-primary {
  @include styleBtnPrimary();
}
.btn-seeAll {
  @include btnseeAll();
}

/* =================phần tiêu đề các session============= */

.flashSale-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  @include tabletFixed() {
    justify-content: center;
    row-gap: 16px;
  }
}

.groupTitle-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 8px 0.8px $bg-shadowMo;
  border-radius: 8px;
  @include tabletFixed() {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .groupTitle-time__title {
    display: inline-flex;
    column-gap: 4px;
    font-size: calc($font-small - 1px);
    font-weight: $bold-titleText;
    color: rgb(220 38 38);
    padding: 7px 10px;
    border-radius: 99px;
    background: #ffeeee;
    img {
      max-width: 18px;
      height: auto;
    }
  }
  .groupTitle-time__child {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 12px;
    .blockTime {
      @include flexCenter();
      flex-direction: column;
      row-gap: 2px;
      width: 52px;
      height: 52px;
      background: $primary-Color;
      color: white;
      border-radius: 4px;
      @include mobileHorizonFixed() {
        width: 46px;
        height: 46px;
      }
      &__time {
        font-weight: 700;
        font-size: 2rem;
        @include mobileHorizonFixed() {
          font-size: 1.8rem;
        }
      }
      &__content {
        font-weight: $bold-contentMedium;
        font-size: calc($font-small - 2px);
        @include mobileHorizonFixed() {
          font-size: calc($font-small - 3px);
        }
      }
    }
    .colon-time {
      font-size: 2rem;
      font-weight: 700;
      color: $primary-Color;
    }
  }
}

// ============ flash sale ============

/* product */
.tab-flashSale {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  column-gap: 6px;
  overflow: hidden;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 0 8px 0.8px $bg-shadowMo;
  border-bottom: 1px solid $border-green;
  @include tabletFixed() {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
  }
  // @include mobileHorizonFixed() {
  //   justify-content: center;
  // }

  .tab-flashSale__btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 12px 20px;
    font-size: 1.5rem;
    background: white;
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    color: #333;
    font-weight: $bold-contentSemi-Bold;
    cursor: pointer;
    @include transition(background 0.1s linear);
    @include mobile() {
      justify-content: center;
      width: 100%;
    }
    svg {
      width: 20px;
      height: auto;
    }
  }
  .hover-tabSale:hover {
    background: rgba(103, 146, 16, 0.07);
  }
  .active-tabSale {
    background: $primary-Color;
    color: white;
  }
}

/* ============ service ============= */
.service {
  padding: 16px;
  border-radius: 5px;
  background: #f8ffec;
  .block-service {
    padding: 12px;
    // margin: -12px;
    .service-list {
      margin-top: $mr-block16;
      .service-items {
        height: unset !important;
        padding: 18px 16px;
        border-radius: 10px;
        // border: 1px solid $border-product;
        text-align: center;
        background: white;
        box-shadow: 0px 0px 8px 0.8px rgba(0, 0, 0, 0.12);
        &:hover .service__title::before {
          width: 45px;
        }
        // &:not(:last-child) {
        //   margin-right: $mr-block;
        // }
        .service__img {
          max-width: 200px;
          height: auto;
        }
        .service__title {
          margin-top: 5px;
          position: relative;
          padding-bottom: 12px;
          font-weight: $bold-titleText;
          font-size: 2rem;
          color: $primary-Color;
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            bottom: 0;
            width: 10px;
            border-top: 3px solid $border-green;
            @include transition(width 0.3s linear);
            border-radius: 99px;
          }
        }
        .service__content {
          margin-top: 10px;
          font-size: $font-small;
          line-height: 1.43;
        }
      }
    }
  }
}

.service__learnMore {
  margin-top: 10px;
}
.vegetable,
.fruit,
.dryGoods,
.product-flashSale {
  margin-top: $mr-block16;
  // @include mediaMaxWidth(950px) {
  //   flex: 0 0 calc(66.66666666666667% - $mr-block);
  //   max-width: calc(66.66666666666667% - $mr-block);
  // }
}

.container-product {
  display: flex;
  align-items: center;
}
.product-imgleft {
  flex: 0 0 calc(25% - $mr-block);
  max-width: calc(25% - $mr-block);
  margin-right: $mr-block;
  @include tabletFixed() {
    flex: 0 0 calc(((100% / 12) * 4) - $mr-block);
    max-width: calc(((100% / 12) * 4) - $mr-block);
  }
  @include mobileHorizonFixed() {
    flex: 0 0 calc(((100% / 12) * 5) - $mr-block);
    max-width: calc(((100% / 12) * 5) - $mr-block);
  }
  @include mobile() {
    display: none;
  }
  img {
    border-radius: $bdradius-img;
    max-width: 100%;
    height: auto;
    display: block;
  }
}

// .product-fruit .product,
// .vegetable .product,
// .product-dryGoods .product {
//   flex: 0 0 calc((100% - ($mr-block * 3)) / 4);
//   max-width: calc((100% - ($mr-block * 3)) / 4);
// }
.product-fruit,
.product-vegetable,
.product-dryGoods {
  flex: 0 0 75%;
  max-width: 75%;
  @include tabletFixed() {
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }
  @include mobileHorizonFixed() {
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }
  @include mobile() {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

// ============ hero img 3 img ============
// ============ hero 1 img ===============
// .hero-image3img {
//   display: grid;
//   grid-template-columns: repeat(
//     3,
//     minmax(0px, calc((100% - ($mr-block20 * 2)) / 3))
//   );
//   column-gap: $mr-block20;
//   .hero-image__img3 {
//     @include mobileHorizonFixed() {
//       &:last-child {
//         display: none;
//       }
//     }
//   }
//   @include mobileHorizonFixed() {
//     grid-template-columns: repeat(
//       2,
//       minmax(0px, calc((100% - ($mr-block20 * 1)) / 2))
//     );
//   }
// }

.hero-image__img3 .hero-image__hover,
.hero-image1img .hero-image__hover {
  position: relative;
  display: block;
}
.hero-image__img3 .hero-image__hover::before,
.hero-image1img .hero-image__hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 82%;
  background: linear-gradient(
    to top,
    rgba(75, 185, 1, 0.7),
    rgba(75, 185, 1, 0)
  );
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.3s ease);
}
.hero-image__img3:hover .hero-image__hover::before,
.hero-image1img:hover .hero-image__hover::before {
  opacity: 1;
  visibility: visible;
}
.hero-image__img3 .hero-image__hover img,
.hero-image1img .hero-image__hover img {
  max-width: 100%;
  height: auto;
  border-radius: $bdradius-img;
  display: block;
}

.hero-image {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .hero-image__img {
    flex: 0 0 calc((100% - $mr-block20) / 2);
    max-width: calc((100% - $mr-block20) / 2);
    @include mobileHorizonFixed() {
      &:last-child {
        display: none;
      }
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.hero-image__img img {
  max-width: 100%;
  height: auto;
  border-radius: $bdradius-img;
  display: block;
}

// ============ block product ============
.productCategory {
  display: flex;
  flex-wrap: wrap;
  .category-listProduct {
    @include tabletFixed() {
      display: flex;
    }
  }
  .swiper-categoryProduct1,
  .swiper-categoryProduct2,
  .swiper-categoryProduct3 {
    padding: 3px;
  }
  .category__items {
    flex: 0 0 calc((100% - $mr-block20 * 2) / 3);
    max-width: calc((100% - $mr-block20 * 2) / 3);
    &:not(:last-child) {
      margin-right: $mr-block20;
    }
    @include tabletFixed() {
      flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0 !important;
      margin-top: $mr-block;
    }
    .product {
      display: flex;
      box-shadow: 0 0 0 1px $border-product;
      border-radius: $bdradius-product;
      overflow: hidden;
      margin-top: $mr-block16;
      padding: 8px 10px;
      column-gap: 6px;
      @include mobileHorizonFixed() {
        align-items: center;
      }
      // @include tabletFixed() {
      //   flex: 1 1 50%;
      // }
      &__thumbnail {
        padding: unset;
        margin-right: $mr-block20;
        flex: 0 0 calc(35% - $mr-block20);
        max-width: calc(35% - $mr-block20);
        .product__thumb {
          position: relative;
          display: block;
          padding-top: 100%;
          @include flexCenter();
          overflow: hidden;
          img {
            position: absolute;
            display: block;
            inset: 0;
            margin: auto;
            max-width: 100%;
            height: auto;
          }
        }
      }
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobileHorizonFixed() {
          column-gap: 20px;
          justify-content: unset;
        }
        padding: 0;
        flex: 0 0 65%;
        max-width: 65%;
        .product-price {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          column-gap: 8px;
          margin-top: 8px;
          &__new {
            font-size: 1.4rem;
            color: $primary-Color;
            font-weight: $bold-contentSemi-Bold;
          }
          &__old {
            font-size: 1.3rem;
            text-decoration: line-through;
            color: rgb(48, 48, 48);
          }
        }
        .product-listBtn {
          display: flex;
          column-gap: 8px;
          margin-top: $mr-block16;
          .product__btn {
            border: none;
            a {
              width: 30px;
              height: 30px;
              border-radius: 4px;
              background: $primary-Color;
              @include flexCenter();
            }
            i {
              font-size: 1.4rem;
              color: white;
            }
          }
        }
      }
    }
  }
}

// block tin tức mới nhất ========
.latest-new {
  margin-top: $mr-block;
  .block-article {
    margin-top: 16px;
  }
}

.article {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  &:hover .article-content__main {
    height: calc(1em * $lineHeight-font14 * 3);
    margin-top: 10px;
  }
  &__img {
    a {
      position: relative;
      display: block;
      padding-top: 130%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-time {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: white;
    border-bottom-left-radius: 6px;
    background: $primary-Color;
    text-align: center;
    &__day {
      display: block;
      font-size: 1.5rem;
      font-weight: $bold-contentMedium;
    }
    &__month {
      display: block;
      margin-top: 4px;
      font-size: 1.5rem;
      font-weight: $bold-contentSemi-Bold;
    }
  }
  &-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(
      180deg,
      rgba(103, 146, 16, 0.3) 0%,
      #679210 100%
    );
    &__title {
      font-size: 1.8rem;
      font-weight: $bold-contentSemi-Bold;
      a {
        @include clipText(2);
        color: white;
        line-height: 1.4;
        // height: calc(1em * 1.4 * 2);
        @include transition(color 0.2s linear);
        &:hover {
          color: black;
        }
      }
    }
    &__main {
      @include clipText(3);
      font-size: 1.35rem;
      line-height: $lineHeight-font14;
      font-weight: 450;
      color: white;
      margin-top: 0;
      height: 0px;
      @include transition(all 0.2s linear);
    }
    &__btn {
      a {
        display: inline-block;
        margin-top: 8px;
        background: transparent;
        padding: 6px 14px;
        border-radius: 6px;
        font-size: 1.5rem;
        border: 1px solid white;
        cursor: pointer;
        color: white;
      }
    }
  }
}

// class js
.none-contentTabSale {
  display: none !important;
}
