.contact {
  display: flex;
  margin: 0 - calc($mr-block / 2);
  //   ============ contact left ============
  .contact__left {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 calc($mr-block / 2);
    .contact-shop {
      padding: 15px 10px;
      background: $secondary-Color;
      border-radius: 5px;
      .list-content {
        display: flex;
        row-gap: 15px;
        flex-wrap: wrap;
        margin-top: $spaceMr;
        .list-content__items {
          display: flex;
          align-items: center;
          column-gap: 8px;
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 8px;
          .content-left {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $border-green;
            @include flexCenter();
            i {
              font-size: 2rem;
              color: $text-green;
            }
          }
          .content-right {
            span {
              display: block;
            }
            .content-right__title {
              font-size: calc($font-small + 1px);
              font-weight: $bold-contentSemi-Bold;
            }
            .content-right__content {
              font-weight: 500;
              margin-top: 5px;
              font-size: $font-small;
              a {
                @include transition(color 0.2s linear);
              }
            }
          }
        }
      }
    }
    .contact-us {
      @extend.contact-shop;
      margin-top: $mr-block;
      .contact-us__content {
        display: block;
        font-size: $font-small;
        line-height: 1.5;
        margin-top: $mr-block;
      }
      .form-contact {
        margin-top: $mr-block;
        .form-group__inp {
          margin-bottom: 12px;
          input {
            @include styleInpForm();
          }
        }
        .form-group__textarea textarea {
          width: 100%;
          height: 80px;
          padding: 10px;
          resize: vertical;
          border-radius: 5px;
        }
        .form-contact__btn {
          @include btnForm();
          width: unset;
          padding: 12px 25px;
        }
      }
    }
  }
  //   ============ contact right ============
  .contact__right {
    @extend .contact__left;
    #map {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
}
//
//
//
//
//
//
