$font-family: "Montserrat", sans-serif;
$primary-Color: #679210;
$secondary-Color: #ebf5cf;
//
$text-green: #679210;
$bg-header: #ffffff;
$bgBtnNot-running: #c8d8a9;
$bg-btn: #679210;
$border-green: #679210;
$border-btn: #679210;
$border-product: rgb(211, 211, 211);
$bg-shadow: rgba(60, 64, 67, 0.3);
$bg-shadowMo: rgba(0, 0, 0, 0.12);
$price-color: #eb3030;
/* font size */

/* title */
$font-title24: 24px;
$font-title20: 20px;
$bold-title23: 600;
$bold-contentMedium: 500;
$bold-titleText: 550;
$bold-contentSemi-Bold: 600;

/* text */
$font-medium: 16px;
$font-small: 14px;
$font-Xsmal: 12px;

/*  */
$height-inp: 42px;
$spaceMr: 24px;
$height-menu: 45px;
// $mr-block40: 40px;
$padding-borderBt: 16px;
$bdradius-product: 8px;
$bdradius-img: 8px;
$line-height: 1.2;

// mr
$mr-title: 16px;
$mr-content: 12px;
$mr-block: 24px;
$mr-block16: 16px;
$mr-block20: 20px;

// line heihgt chuẩn
$lineHeight-font12: 1.33;
$lineHeight-font14: 1.43;
$lineHeight-font16: 1.5;
$lineHeight-font18: 1.56;
