.header {
  background: white;
  .header-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background: $bg-header;
  }
}

.header-border {
  border-bottom: 1px solid #ebebeb;
}
.header-logo {
  flex: 0 0 calc(25% - $mr-block);
  max-width: calc(25% - $mr-block);
  margin-right: $mr-block;
}
.header-logo img {
  width: auto;
  max-height: 58px;
}
.header-form {
  position: relative;
  flex: 0 0 calc(35% - $mr-block);
  max-width: calc(35% - $mr-block);
  margin-right: $mr-block;
}
#header-form__inp {
  width: 100%;
  height: $height-inp;
  border-radius: 999px;
  border: 1px solid $border-green;
  padding: 0 10px 0 20px;
  outline: none;
}
.header-form button {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  column-gap: 6px;
  height: $height-inp;
  font-size: $font-small;
  padding: 0 12px;
  border-radius: 999px;
  background: $primary-Color;
  color: white;
  cursor: pointer;
  border: none;
}
.header-form button i {
  font-size: 1.8rem;
}
.header-timeWork {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 40%;
  max-width: 40%;
  .header-timeWork__items {
    font-size: $font-small;
    display: flex;
    align-items: center;
    column-gap: 8px;
    p {
      font-size: calc($font-small - 1px);
      font-weight: 450;
      line-height: 1.5;
    }
    img {
      margin-top: 5px;
      max-width: 100%;
      height: auto;
    }
    p span {
      color: #d19e90;
    }
  }
}

/*  */
.header-nav {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.header-nav__left {
  margin-right: $mr-block;
  flex: 0 0 calc(25% - $mr-block);
  max-width: calc(25% - $mr-block);
}
.category-btn {
  display: flex;
  align-items: center;
  column-gap: 12px;
  height: $height-menu;
  background: $primary-Color;
  padding-left: 8px;
  color: white;
  border-radius: 8px 8px 0 0;
  user-select: none;
  cursor: pointer;
}
.header-nav .header-nav__left span {
  font-weight: $bold-contentSemi-Bold;
}
.header-nav__center {
  display: flex;
  flex: 0 0 calc(54% - $mr-block);
  max-width: calc(54% - $mr-block);
  margin-right: $mr-block;
}
.header-menu {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.header-menu .header-menu__list a {
  display: inline-block;
  height: $height-menu;
  line-height: $height-menu;
  padding: 0 8px;
  font-weight: $bold-contentSemi-Bold;
  white-space: nowrap;
  font-size: 1.5rem;
}

/*  */
.header-nav__right {
  flex-grow: 1;
  max-width: 100%;
}
.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
.header-user__list {
  position: relative;
  display: flex;
  align-items: center;
}
.header-user__list i {
  font-size: 2rem;
  cursor: pointer;
}
.header-user__user {
  i {
    font-size: 2.2rem;
  }
  .drop-account {
    position: absolute;
    top: calc(100% + 15px);
    right: -4px;
    background: white;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 0 4px 1.5px $bg-shadow;
    @include transform(translateY(12px));
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.2s ease-in);
    a {
      font-weight: 500;
      font-size: $font-small;
      text-align: right;
      white-space: nowrap;
      display: block;
      padding: 7px 10px;
      @include transition(background 0.2s linear);
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
    :first-child {
      border-radius: 5px 5px 0 0;
    }
    :last-child {
      border-radius: 0 0 5px 5px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 4px;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent $border-green transparent;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      width: 100%;
      height: 15px;
    }
  }
  &:hover .drop-account {
    opacity: 1;
    visibility: visible;
    @include transform(translateY(0px));
  }
}

.header-user__cart {
  position: relative;
  margin-right: 5px;
}
.header-userCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}
.header-user__phone {
  height: $height-menu;
  padding: 0 10px;
  background: red;
  opacity: 0.7;
}
.header-user__phone .tell {
  margin-left: 10px;
}
.header-user .header-user__phone span {
  color: white;
  font-weight: 550;
}
.header-menu__arrow {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.header-menu__arrow i {
  font-size: 1.2rem;
  cursor: pointer;
}
.header-count {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: 1.2rem;
  background: red;
  color: white;
  top: -10px;
  right: -9px;
}

/* .bg-home {
      position: relative;
    } */
/*  */
.category-slider {
  display: flex;
}
.header {
  .category {
    flex: 0 0 calc(25% - $mr-block);
    max-width: calc(25% - $mr-block);
    height: 452.63px;
    background: white;
    margin-right: $mr-block;
    box-shadow: 1px 2px 7px $bg-shadow;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 0;
    // media
    @media only screen and (min-width: 1200px) and (max-width: 1439px) {
      height: 433.77px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1199px) {
      height: 396.05px;
    }
    .category__list {
      height: 100%;
      overflow-y: auto;
      @include styleScrollbar();
      .category__items {
        margin-right: 12px;
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
        @include transition(background 0.1s linear);
        a {
          display: flex;
          align-items: center;
          column-gap: 8px;
          padding: 11px 0 11px 15px;
          i {
            font-size: 2rem;
            color: $primary-Color;
          }
        }
        &:hover {
          background: rgba(113, 180, 50, 0.3);
        }
      }
    }
    .height-category {
      height: 452.63px;
    }
  }
}
/* slider */
.slider {
  position: relative;
  flex: 0 0 75%;
  max-width: 75%;
  overflow: hidden;
  border-radius: 7px;
  &:hover .slider-control__btnLeft {
    @include transform(translateX(0));
  }
  &:hover .slider-control__btnRight {
    @include transform(translateX(0));
  }
}
.slider__listImg {
  display: flex;
  align-items: center;
  @include transition(transform 0.5s ease-in-out);
}
.slider__img {
  flex: 0 0 100%;
  a img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $bdradius-img;
  }
}

.slider-control__btnLeft,
.slider-control__btnRight {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  @include transition(transform 0.2s linear);
}
.slider-control__btnLeft i,
.slider-control__btnRight i {
  font-size: 1.6rem;
  color: #e7e7e7;
}
.slider-control__btnLeft {
  @include transform(translateX(calc(-100% - 25px)));
  left: 15px;
}
.slider-control__btnRight {
  right: 15px;
  @include transform(translateX(calc(100% + 25px)));
}
